@font-face {
  font-family: roboto;
  src: url(../font/RobotoCondensed-Regular.ttf);
}


/* -------------------- */
/* Containers */
.dataContainer {
  max-width: 80%;
  padding: 40px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  border: 1px solid rgb(23, 133, 223);
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);
}

/* ---------------------- */


* {
	box-sizing: border-box;
	font-family: roboto;
}
body {
	padding: 0;
	margin: 0;
}
header{
  background-color: #00bcd4;
}
a{
  color : black;
}
.title-nav{
  margin-top: 10px;
}
.title-nav:hover{
  transition: 0.5s;
  background-color: blue;
  color: white;
}

#video{
  padding-bottom: 862px;
  background-color: #00bcd4;
  text-align: center;
  color: white;
}

.aboutImg{
height: auto;
width: 937px;
margin: 0px;
padding-left: 0%;
}

.quiSommeNous{
  background-color: white;
  padding: 0px;
}
#sommeNous{
  display: flex;
}
#h3qui{
  text-transform: uppercase;
  font-size: 50px;
  text-align: left;
  padding-top: 100px;
  padding-left: 75px
}
#quiSommeNousTexte{
  padding-top: 20px;
  padding-left: 75px;
  font-size: 28px;
}
#h3Abo{
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
}

#abon{
  display: flex;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.aFooter{
  font-size: 45px;
}
