@font-face {
	font-family: roboto;
	src: url(../font/RobotoCondensed-Regular.ttf);
}


/* -------------------- */
/* Containers */
.dataContainer {
	max-width: 80%;
	padding: 40px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 40px;
	border: 1px solid rgb(23, 133, 223);
	box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);
}

/* ---------------------- */

/* ---------------------- */
/* Custom Sections */
.sizedSection {
	max-width: 100%;
	padding: 0px 40px 10px;
	/*min-height: 400px;*/
}

.coloredSection {
	background-color: #00bcd4;
}


* {
	box-sizing: border-box;
	font-family: roboto;
}
body {
	padding: 0;
	margin: 0;
}
header{
	background-color: #00bcd4;
}
a{
	color : black;
}
.title-nav{
	margin-top: 10px;
}
.title-nav:hover{
	transition: 0.5s;
	background-color: blue;
	color: white;
}

#video{
	padding-bottom: 862px;
	background-color: #00bcd4;
	text-align: center;
	color: white;
}

.aboutImg{
height: auto;
width: 937px;
margin: 0px;
padding-left: 0%;
}

.quiSommeNous{
	background-color: white;
	padding: 0px;
}
#sommeNous{
	display: flex;
}
#h3qui{
	text-transform: uppercase;
	font-size: 50px;
	text-align: left;
	padding-top: 100px;
	padding-left: 75px
}
#quiSommeNousTexte{
	padding-top: 20px;
	padding-left: 75px;
	font-size: 28px;
}
#h3Abo{
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
}

#abon{
	display: flex;
}
div.scrollmenu {
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}
.aFooter{
	font-size: 45px;
}


/* ------------------- */
/* Custom Input */
.customInput {
	padding: 5px 10px;
	width: 100%;
	border: 1px solid rgb(23, 133, 223);
	border-radius: 20px;
}

@media screen and (max-width: 992px) {
	.customInput {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	}

}

/* ------------------ */
/* Page Services */
.searchServicesForm {
	margin-top: 30px;
}

.searchServicesBtn {
	padding: 5px 10px;
	margin-left: 10px;
	background-color: rgb(27, 145, 195);
	color: white;
	border-radius: 20px;
	border: none;
}

.serviceCard {
/*	margin-top: 20px;
	margin-bottom: 40px;
*/
	border: 1px solid rgb(23, 133, 223);
	box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);
}

.serviceCard:hover {
	background-color: rgb(223, 222, 240);
}

.serviceCard .card-link {
	color: rgb(23, 133, 223);
}


/* --------------------- */
/* Page Profile */
.profilePicture {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}


/* ----------------------- */

/* ---------------------- */
/*  Style for Export Button */
.button_export{
	border: 2px solid  #3D9AF9;
  border-radius: 5px;
}
.button_export:hover{
   background-color:  #3D9AF9	;
	 color : white;
	 transition: background-color 0.5s;
}

/* ---------------------- */
/* le panier */
#panier_text {
	color: white;
	font-weight: bold;
}


#panier_button:hover .services_basket {
	transform: scale(1.3, 1.3);
}

.services_basket {
	cursor: pointer;
	transition: all .2s;
	border-radius: 3px;
	padding: 4px;
}

.services_basket:hover {
	/*background-color: lightblue;*/
	/*transform: scale(1.3, 1.3);*/
}

/*.form-input {
	width: 150px;
}*/

.booking_box {
	width: 250px;
}

.removeBooking {
	background-color: red;
	color: white;
	font-weight:bold;
	padding: 2px 4px;
	cursor: pointer;
	border-radius: 3px;
}

.bookings_container {
	overflow-x: auto;
}


#bookingModal3 {
	/*width: 700px;*/
}



.modal-dialog {
	max-width: 65%;
}


