#role{
  display: flex;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


/* --------------------- */
/* Page Profile */
.profilePicture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}


/* ----------------------- */
